/* Common styles */
body {
  background-image: url('path/to/image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

nav {
  background-color: rgba(204, 26, 26, 0.5);
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

nav li {
  display: inline-block;
  margin: 1em;
  width: 100px;
  border: 1px solid rgba(204, 26, 26, 0.5);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

h1 {
  font-size: 2em;
  margin-top: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2em 0;
}

li {
  display: inline-block;
  margin: 1em;
  width: 90%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: auto;
  
}

h3 {
  margin: 0.5em;
}

p {
  margin: 0.5em;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #555;
}

.store-box {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 1rem 0;
}

.store-box h2 {
  color: #333;
}

.store-box p {
  margin-bottom: 1rem;
}

.store-box a {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

/* Media queries */
@media screen and (min-width: 600px) {
  nav li {
    width: 150px;
  }
  
  li {
    width: calc(33.33% - 2rem);
  }
  
  .store-box {
    width: calc(50% - 2rem);
    margin: 1rem;
    float: none;
    display: inline-block;
    max-height: 300px;
  }
}

